.ms-badge {
    max-width: 11rem;
    margin-right: 20px;
    text-align: center;
    padding: 4px 0;
    padding-bottom: 4px;
    border-radius: 8px;
    background-color: #004f02;
    color: white;
    line-height: 1.37rem;
}
